.shadow{
    -moz-box-shadow: 0 0 5px #6e6a6a;
-webkit-box-shadow: 0 0 5px #6e6a6a;
box-shadow: 0 0 5px #6e6a6a;  }

.panel-row-1{
  width: 40%!important;
  padding: 5px!important;
  border-radius: 3px;
  height: 200px;
}

.panel-row-2{
  margin-right: 1rem!important;
  margin-left: 1rem!important;
  padding: 5px!important;
  border-radius: 3px;
  height: 200px;
}

.panel-row-3{
  width: 41%!important;
  padding: 5px!important;
  border-radius: 3px;
  height: 200px;
}

.p-header{
  background-color: #e3e0ff!important;
}

.tabs{
  width:100%!important;
  overflow:auto!important;
  max-height:150px!important;
}

.table-responsive {
    overflow: scroll; 
    max-height:200px!important;
}

.table{
  margin-bottom: 0px!important;
}

.table td{
  padding: 0px!important;
  font-weight: normal!important;
  font-size: 14px!important;
  color:black!important;
  border-bottom: 1px solid lightgray!important;
}

.tables td{
  padding:11px 4px!important;
  font-weight: normal!important;
  font-size: 14px!important;
  color:black!important;
  border-bottom: 1px solid lightgray!important;
}

.tables1 td{
  padding:0px!important;
  font-weight: normal!important;
  font-size: 14px!important;
  color:black!important;
  border-bottom: 1px solid lightgray!important;
}

.textbox{
  height: 14px;
  width:46px;
}

.selectbox{
  height: 18px;
  width: 65px;
  font-size: 12px;
}

.selectbox1{
    height: 18px;
  width: 80px;
  font-size: 12px;
}

.selectbox_center{
  font-size: 12px;
  width:120%;
  height:10%
}

.tab1_c1{
  width: 5%;
}

.tab1_c2{
  width: 60%;
  text-align: left;
}

.tab1_c3{
  width: 35%;
  text-align: right;
}


.tab2_c1{
  width: 5%;
}

.tab2_c2{
  width: 60%;
  text-align: left;
}

.tab2_c3{
  width: 35%;
  text-align: right;
}


.tab3_c1{
  width: 5%;
}

.tab3_c2{
  width: 50%;
  text-align: left;
}

.tab3_c3{
  width: 12%;
  text-align: left;
}

.tab3_c4{
  width: 20%;
  text-align: right;
}

.tab3_c5{
  width: 13%;
  text-align: right;
}


.tab5_c1{
  width: 5%;
  text-align: left;
}
.tab5_c2{
  width: 70%;
  text-align: left;
}
.tab5_c3{
  width: 25%;
  text-align: left;
}

.textbox_tab5{
  width: 100px;
  font-size: 11px;
}


.tab6_c1{
  width: 5%;
  text-align: left;
}
.tab6_c2{
  width: 35%;
  text-align: left;
}
.tab6_c3{
  width: 20%;
}
.tab6_c4{
  width: 5%;
  text-align: left;
}
.tab6_c5{
  width: 35%;
  text-align: left;
  margin-left:10px!important;
}

.tab6_c6{
  width: 40%;
  text-align: left;
}

.tab6_c7{
  width: 40%;
  text-align: left;
}

.tab6_c8{
  width: 20%;
  text-align: left;
}


.tab6_c9{
  width: 20%;
  text-align: left;
}

.tab6_c10{
  width: 10%!important;
  text-align: left;
}

.tab6_c11{
  width: 40%;
  text-align: left;
}


.tab6_selectbox{ 
  font-size: 12px;
   width: 155px;
   height: 10%;
}